* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vh;
  background-image: url(../images/ocean-background.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  box-shadow: 0 3px 5px 0 black;
  padding: 0.5rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  width: 25rem;
  height: fit-content;
  
  justify-self: center;
  padding: 2rem;
  
  border-radius: 0.5rem;
  box-shadow: 3px 3px 3px 3px gray;
  background-color: rgb(245, 222, 179);
}

input,
textarea,
select {
  appearance: none;
  outline: none;
  border: none;
  height: 1.4rem;
  padding: 0 10px;
  border-radius: 1rem;
  box-shadow: inset -1px -1px 1px 1px rgb(189, 189, 189);
}

input:hover,
input:focus,
select:hover,
textarea:focus {
  outline: none;
  background-color: rgb(248, 248, 248);
  box-shadow: 1px 1px 1px 1px rgb(6, 120, 196);
  border: none;
}
textarea {
  border-radius: 0.25rem;
  resize: vertical;
  min-height: 5rem;
  padding: 0.25rem;
}

select {
  border-radius: 0.25rem;
  text-align: center;
  background-color: white;
  color: black;
}

button[type="submit"]{
  grid-column-start: 1;
  grid-column-end: 3;

  width: 8rem;
  height: 2rem;
  
  justify-self: center;

  border-radius: 0.25rem;
  border: none;
  box-shadow: 2px 2px 2px 0px rgb(182, 182, 182);
  background-color: rgb(6, 120, 196);
  color: white;
}

button[type="submit"]:hover{
  opacity: 0.8;
}

button[type="submit"]:active{
  box-shadow: -2px -2px 2px 0px rgb(182, 182, 182);
  opacity: 1;
}


.book {
  position: relative;
  box-shadow: 0px 0px 5px 5px rgb(173, 173, 173);
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 21rem;
  width: 5rem;

  text-transform: capitalize;
}

.book:hover, .book.selected {
  width: 5.1rem;
  height: 21.1rem;
  z-index: 1;
  box-shadow: 0px 0px 5px 5px rgb(221, 188, 1);
  /* background-color: rgb(6, 120, 196); */
}

.book h4 {
  padding: 0;
  margin: 0;
  width: 8rem;
  rotate: -90deg;
  color: black;
  text-align: center;
}

.book p {
  padding: 0;
  margin: 0;
  color: black;
  text-align: center;
  font-size: 0.8rem;
}


.tag-group {
  width: 100%;
}

.rim {
  height: 0.15rem;
  width: 100%;
  background-color: gold;
}

.shelf {
  grid-column: 1/-1;
  border-radius: 0.5rem;
  box-shadow: inset 0px 0px 5px 0px rgb(6, 120, 196);
  padding: 0.5rem;
  display: flex;
  gap: 5px;
  width: 54rem;
  height: 22rem;

  background-image: url(../images/whale-horizontal.jpg);
  background-repeat: no-repeat;
  background-size: 54rem 22rem;
}

.book > .tag-group {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: grid;
  gap: 3rem;
}

.book span.read{
  height: 2.5rem;
  position: absolute;
  color: black;
  display: none;
  bottom:3.2rem;
  right: 0.8rem;
  cursor:pointer;
  font-size: 1.5rem;
  font-weight: bolder;
}

.book span.take{
  font-weight: bolder;
  display: none;
  position: absolute;
  height: 2.5rem;
  bottom:3.25rem;
  left: 0.8rem;
  color: black;
  font-size: 1.8rem;
  cursor: pointer;
  
}

.blocker{
  background-color: rgb(229, 247, 252);
  width: 100%;
}

dialog{
  position: absolute;
  border: none;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  font-size: 1.4rem;
}

::backdrop {
  background-color: rgb(229, 247, 252);
  opacity: 0.8;
}

dialog button.close{
  border: 1px solid red;
  color: black;
  width: 2rem;
  background: none;
  align-self: flex-end;
}

dialog button.close:hover{
  color:white;
  background-color: red;
}

dialog.reading{
  font-size: 1.2rem;
  width: 45ch;
}
dialog.reading > p::first-letter{
  text-transform: uppercase;
}
dialog.reading > p:first-of-type{
  text-indent: 2rem;
}

dialog.reading > h4{
  text-transform: capitalize;
}
